      <li class="task_block" id="<%=task.id %>">
          <div class="task_checkbox">
            <input class="checkbox" type="checkbox">
          </div>
          
          <div class="task_name">
            <span class="task_entered_name"><%= I18n.t('tasks.title', task_name: task.title) %></span>
            <span class="task_deadline_name">deadline</span>
            <span class="task_deadline_date"><%= task.date %></span>
          </div>
          
          <div class="task_img">
            <%= image_tag("list_arrow.png", class: "arrow_list_img") %>
            <%= image_tag("list_line.png", class: "line_list_img") %>
            <%= image_tag("list_pen.png", class: "pen_list_img") %>
            <%= image_tag("list_line.png", class: "line_list_img") %>
            <%= link_to image_tag("list_trash.png", class: "trash_list_img"), [task.project, task], remote: true, method: :delete  %>
          </div>

          <%= form_for [task.project, task], remote: true, method: :patch do |f| %>
            <%= f.text_field :title %>
            <%= f.date_field :date %>
            <%= f.submit 'Update task', class: "edit_task_button" %>
          <% end %>

      </li>