<div class="project" id="<%= project.id %>">

<div class="list_title">
  <%= form_for project, remote: true, method: :patch do |f| %>
    <%= f.text_field :title %>
    <%= f.submit 'Update Project', class: "edit_project_button" %>
  <% end %>

  <%= image_tag("note.gif", class: "note_list_img") %>
  <span class="title" id="title<%= project.id %>">
    <%= I18n.t('projects.title', project_name: project.title) %>
  </span>
  <%= link_to image_tag("title_trash.gif", class: "title_trash_list_img"), project_path(project), remote: true, method: :delete %>
  <%= image_tag("title_pen.gif", class: "title_pen_list_img") %>
</div>

<div class="list_addtask">
  <%= image_tag("plus.gif", class: "addtask_plus") %>
  <%= form_for [project, Task.new], remote: true do |f| %>
    <%= f.text_field :title, :placeholder => "Start typing here to create a task..." %>
    <%= f.date_field :date %>
    <%= f.submit "Add Task", class: "addtask_button" %>
  <% end %>
</div>

<ul class="tasks_ul" id="sortable" path="<%= %>">
  <%= render project.tasks %>
</ul>

</div>