<div class="main">

  <h2>SIMPLE TODO LIST</h2>
  <h4>FROM RUBY GARAGE</h4>

  <div class="projects_windows">
      <%= render @projects %>
  </div>
  <!--end projects_windows-->

  <a href="" class="button">
      <%= image_tag("addlist_button.gif", class: "list_img") %>
      <span class="addlist">Add TODO List</span>
  </a>

  <%= form_for @project, remote: true do |f| %>
    <%= f.text_field :title, :placeholder => ' Enter new project here..' %>
    <%= f.submit 'Add Project', :class => 'add_new_project' %>
  <% end %>

  <div id="pusher"></div> <!-- липкий футер -->
  <div id="footer"> <!-- липкий футер -->
    <footer>&copy; Ruby Garage</footer>
  </div>
  
</div>